<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAq4C0N--3G_OyDTWAjJRPPgZcal6fIzLY</string>
	<key>GCM_SENDER_ID</key>
	<string>755869010185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tstore</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-app-69ba0</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-app-69ba0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755869010185:ios:95fa5326e3cca805386bd8</string>
</dict>
</plist>